<div id="pagename", class="col-xs-8"><h3>Listing petitions</h3></div>
 <div id="petition-container", class="col-xs-8">
  <div id="petition">
    <% @petitions.each do |petition| %>
        <%= petition.cover %>
        <h2><%= link_to petition.title, petition %></h2>
        <div class="date"><%= petition.created_at %></div>
        <div class="author"><b>Author: </b><%= petition.user.name if petition.user %></div>
        <div class="target"><b>Petition to:</b> <%= petition.target %></div>
        <div class="signum"><b>Number of Signatures Needed: </b><%= petition.signum %></div>
        <%= markdown(petition.description) %>
        <%= link_to 'Show', petition %>
        <% if petition.user == current_user %>
          <%= link_to 'Edit', edit_petition_path(petition) %>
          <%= link_to 'Destroy', petition, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </div>
</div>
</div>
