<h1>Listing petitions</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Description</th>
      <th>Signum</th>
      <th>Target</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.cover %></td>
        <td><%= petition.title %></td>
        <td><%= petition.description %></td>
        <td><%= petition.signum %></td>
        <td><%= petition.target %></td>
        <td><%= link_to 'Show', petition %></td>
        <td><%= link_to 'Edit', edit_petition_path(petition) %></td>
        <td><%= link_to 'Destroy', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
